body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: rgb(173, 158, 158);
}

.container{
    width: 80%;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background: #442074;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #ffc600;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    display: inline;
    padding: 0 20px;
}

header .branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 20px;
}

header .highlight{
    color: #ffc600;
    font-weight: bold;
}

header a:hover{
    color: #ffc600;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background: url('./images/showcase.jpg');
    background-repeat: no-repeat;
    background-position: 0 -400px;
    background-size: 100%;
    text-align: center;
    color: #fff;
}

#showcase h1{
    font-size: 55px;
    margin-top: 0%;
    position: relative;
    top: 30px;
}

#showcase p{
    font-size: 30px;
    position: relative;
    top: 30px;
}

#boxes{
    margin-top: 0px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

footer{
    padding: 0px;
    margin-top: 20px;
    color: black;
    background: #946d9e;
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#sidebar{
    float: right;
    width: 30%;
}


#main-col{
    float: left;
    width: 65%;
}

.dark{
    padding: 15px;
    background: #442f44;
    color: #fff;
    margin-top: 55px;
}

#services li{
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: #e6e6e6;
}